*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, html {
   height: 100%;
   width: 100%;

}
@font-face {
    font-family: gaurav;
    src: url(Retro\ Floral.ttf);
}
@font-face {
    font-family: journey;
    src: url(GreatVibes-Regular.ttf);
}
@font-face {
    font-family: typewriter;
    src: url(atwriter.ttf);
}
@font-face {
    font-family: alexbrush;
    src: url(AlexBrush-Regular.ttf);
}
.box1 {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1768326943634-f15d407bda45?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

/* navbar */
#container {

    height: 7%;
    width: 100%;
     /* background-image: url(https://media.istockphoto.com/id/1732963074/photo/starry-night-sky-in-space.jpg?s=612x612&w=0&k=20&c=AHcmpswk3g3toHSFt5yCV_1uzMZUaJl95p3UIgm8euo=); */
     
     background-image: url(https://images.unsplash.com/photo-1491071676596-825e11fccef5?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1545486332-9e0999c535b2?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border: 1px solid white;   /*  border */
    border-radius: 10px;
}

#name {
    font-size: 20px;
    font-family: gaurav;
    color: aliceblue;
    cursor: pointer;
}


#button1 {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid rgb(252, 133, 64);   
    cursor: pointer; 
}

#button2{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 5px;
    border: 3px solid rgb(252, 133, 64);  
    cursor: pointer;
}

#button3{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 5px;
    border: 3px solid rgba(252, 133, 64);  
    cursor: pointer;
}

#button1:hover, #button2:hover, #button3:hover {
    background-color: orange;
    border: 4px solid rgb(252, 252, 252);  
    color: rgb(10, 10, 10);
    transition: 0.5s ease;
}


/* main content */
.journey {
    padding-top: 200px;
    text-align: center;
}
h1 {   
    color: rgb(255, 255, 255);
    font-size: 70px;
    /* font-family: journey; */
    font-weight: 500;
}

#expbutton {
    color: rgb(2, 1, 1);
    background-color: rgba(255, 255, 255, 0.918);
    margin-top: 70px;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid black;    
    cursor: pointer;
    transition: 0.4s ease;   
    
}

#expbutton:hover{
    background-color: rgb(247, 160, 0);
    scale: 1.05;
     

}


/* BOTTOM PAGE STARTS HERE */

.box2 {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 5px;
    
}

.box2 h3 {
    text-align: center;
    font-size: 60px;
    margin-top: 50%;
    
}

#image1
    {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1768938896402-db38dd23ea35?q=80&w=709&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D://images.unsplash.com/photo-1767978918948-e8b8317a1a4a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDM3fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-repeat: no-repeat;
    border: 5px solid #000000;
    color: black;
    text-shadow: 3px 3px #fcfcfc;
    transition: 0.4s ease;
    }  



   
#image2 
    {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1764957079470-afaf381331b6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    border: 5px solid #fda41f;
    color:#fda41f;
    text-shadow: 3px 3px #000000;
    transition: 0.4s ease;
    }

#image3{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1768586624424-7077d4ddbfa9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    border: 5px solid #05177e;
    color: #05177e;
    text-shadow: 2px 2px #4d96d1;
    transition: 0.4s ease;
   
}

#image1:hover {  
        transform: scale(1.05);
         transform-origin: left center;

}

#image2:hover {
        transform: scale(1.05);
        transform-origin: center center;

}

#image3:hover {
        transform: scale(1.05);
        transform-origin: right center;
}



/* reviews */

.box3 {
    height: 550px;
    width: 100%;

}
#container3 {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, black, grey, black);
    display: flex;
    border: solid 5px;
    margin-top: 5px;
    padding: 30px;

}

#reviews {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    flex: wrap;
    gap: 40px;
    overflow: auto;
    
    
}

#reviews::-webkit-scrollbar {
    display: none;
    
}

#square1
{
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1769109002468-85f8a39d5ccd?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    cursor: pointer;
    flex-shrink: 0;
    
    
}

#square2
{
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1426086800127-2601510ca027?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1603270504031-4344a08b28b6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    cursor: pointer;
    flex-shrink: 0;
}

#square3 {
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://plus.unsplash.com/premium_photo-1733864822174-c469c50177a8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw3OXx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    cursor: pointer;
    flex-shrink: 0;
}

#square4 {
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1768797059831-d5bbab4e3d00?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw1OXx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    flex-shrink: 0;
}

#square5 {
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1768345757290-2ac11c5ca644?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    cursor: pointer;
    flex-shrink: 0;
}

#square6 {
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1768425780577-dbb9de83171b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw1OHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    cursor: pointer;
    flex-shrink: 0;
}



#square1:hover, #square2:hover, #square3:hover, #square4:hover, #square5:hover, #square6:hover {
    border: 7px solid white;
    transition: 0.4s ease;
    
}

.box4 {
    height: 300px;
    width: 100%;
    background: linear-gradient(to right,#667db6, #0082c8, #66b6af)
    
}


/* gallery  */
.gallery-wrapper {
    display: flex;
    width: 100%;
    height: 800px;
   

}

.gallerybox {

    height: 100%;
    width: 1100px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(255, 177, 74, 0.774);   
    background: linear-gradient(to right, #0b0c10, #1b1e23, #2a2d33, #3a3d44);
        border: 10px solid rgb(255, 255, 255);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
}


#gallerytext {
    
    line-height: 2.5;
    font-size: 35px;
   font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 20px black;
    font-weight: 270;
    text-align: center;
    
    
    
}

/* make gallery with a clipboard type background style */

#container5 {
    height: 100%;
    width: 800px;
    background-color: rgb(129, 197, 52);
    border: 10px solid white;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

    #gallery1:hover, #gallery2:hover, #gallery3:hover, #gallery4:hover, #gallery5:hover {
        transform: rotate(0deg);

    }

/* #gallery1:hover {     bring hover up in front of other images
    z-index: 5;

} */
#gallery1 {
    

    height: 350px;
    width: 350px;
    background-color: #c5a4a4;
    background-image: url(https://images.unsplash.com/photo-1768471126957-df36ac318dc1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5fHx8ZW58MHx8fHx8);
    background-position: center;
    background-size: cover;
    border: 10px solid white;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.705);
    transform: rotate(-25deg);
    z-index: 1;
    transition: transform 0.5s ease-out;
     
}

#gallery2 {

    height: 350px;
    width: 350px;
    background-color: #361717;
    background-image: url(https://images.unsplash.com/photo-1768590238594-625fe0d913aa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzN3x8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border: 10px solid white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
    transform: rotate(10deg);
     z-index: 4;
     transition: transform 0.5s ease-out;
    
    
    
   
}

#gallery3 {
    height: 350px;
    width: 350px;
   
    background-color: #667db6;
    background-image: url(https://plus.unsplash.com/premium_photo-1712418420146-6ea99872ef45?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzOHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border: 10px solid white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
    transform: rotate(6deg);
    z-index: 0;
    transition: transform 0.5s ease-out;
    
   
}

#gallery4 {
    height: 350px;
    width: 350px;
   
    background-color: #667db6;
    background-image: url(https://images.unsplash.com/photo-1769010934261-ce846f3053dc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw1NXx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border: 10px solid white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
    transform: rotate(-8deg);
    z-index: 2;
    transition: transform 0.5s ease-out;
    
   
}

#gallery5 {
    height: 300px;
    width: 300px;
    background-color: #667db6;
    background-image: url(https://images.unsplash.com/photo-1768944285756-9981f5e2eb19?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0Mnx8fGVufDB8fHx8fA%3D%3D://images.unsplash.com/photo-1768471126957-df36ac318dc1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5fHx8ZW58MHx8fHx8);    background-position: center;
    background-size: cover;
    border: 10px solid white; 
    position: absolute;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
    margin-left: 200px;
    margin-bottom: 100px;
    transform: rotate(-7deg);
    z-index: 1;
    transition: transform 0.5s ease-out;
}


/* conclusion */


.box4 {
    background-image: url(https://images.unsplash.com/photo-1656068697136-b8afb8f484ec?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    
    
   
    
}
#conclusion {
    padding: 90px;
    text-align: center;
    font-size: 40px;
    color: white;
    
}

#conclusion h2 {
    background-image: url(https://plus.unsplash.com/premium_photo-1764599123152-51eca6c54826?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    color: transparent;
    background-clip: text;
    
}
#bottombar {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    
}

#bottombar h3 {
    display: flex;
    align-items: center;
    gap: 8px;   /* controls space between icon and text */
     cursor: pointer;
     color: rgb(255, 251, 251);
}




/* improve font for conclusion and do more changes */
/* make the fifth pic absolute */

/* do hosting */