*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, html {
   height: 100%;
   width: 100%;

}
@font-face {
    font-family: gaurav;
    src: url(Retro\ Floral.ttf);
}
@font-face {
    font-family: journey;
    src: url(GreatVibes-Regular.ttf);
}

.box1 {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1768326943634-f15d407bda45?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

/* navbar */
#container {

    height: 7%;
    width: 100%;
     /* background-image: url(https://media.istockphoto.com/id/1732963074/photo/starry-night-sky-in-space.jpg?s=612x612&w=0&k=20&c=AHcmpswk3g3toHSFt5yCV_1uzMZUaJl95p3UIgm8euo=); */
     
     background-image: url(https://images.unsplash.com/photo-1491071676596-825e11fccef5?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1545486332-9e0999c535b2?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border: 1px solid white;   /*  border */
    border-radius: 10px;
}

#name {
    font-size: 20px;
    font-family: gaurav;
    color: aliceblue;
    
}


#button1 {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid rgb(252, 133, 64);    
}

#button2{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 5px;
    border: 3px solid rgb(252, 133, 64);  
}

#button3{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 5px;
    border: 3px solid rgba(252, 133, 64);  
}

/* main content */
.journey {
    padding-top: 200px;
    text-align: center;
}
h1 {   
    color: rgb(255, 255, 255);
    font-size: 70px;
    /* font-family: journey; */
    font-weight: 500;
}

#expbutton {
    color: rgb(2, 1, 1);
    background-color: rgba(255, 255, 255, 0.918);
    margin-top: 70px;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 30px;
    /* border: 3px solid black;     */
}


/* BOTTOM PAGE STARTS HERE */

.box2 {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 5px;
    
    
}

.box2 h3 {
    text-align: center;
    font-size: 60px;
    margin-top: 50%;
    
}

#image1
    {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1768938896402-db38dd23ea35?q=80&w=709&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D://images.unsplash.com/photo-1767978918948-e8b8317a1a4a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDM3fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-repeat: no-repeat;
    border: 5px solid #000000;
    color: black;
    text-shadow: 3px 3px #fcfcfc;
    }  
   
#image2 
    {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1764957079470-afaf381331b6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    left: 0;
    border: 5px solid #fda41f;
    color:#fda41f;
    text-shadow: 3px 3px #000000;
    }

#image3{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1768586624424-7077d4ddbfa9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    border: 5px solid #05177e;
    color: #05177e;
    text-shadow: 2px 2px #4d96d1;

}

/* reviews */

.box3 {
    height: 550px;
    width: 100%;

}
#container3 {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, black, grey, black);
    display: flex;
    border: solid 5px;
    margin-top: 5px;

}

#reviews {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#square1
{
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1769109002468-85f8a39d5ccd?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}

#square2
{
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1426086800127-2601510ca027?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1603270504031-4344a08b28b6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;

}

#square3 {
    width: 450px;
    height: 350px;
    border: 7px solid;
    background-image: url(https://images.unsplash.com/photo-1768845532725-d617e417fc5f?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}

.box4 {
    height: 300px;
    width: 100%;
    background: linear-gradient(to right,#667db6, #0082c8, #667db6)
    
}

#conclusion {
    padding: 90px;
    text-align: center;
    font-size: 40px;
}

#bottombar {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#bottombar h3 {
    display: flex;
    align-items: center;
    gap: 8px;   /* controls space between icon and text */
}



/* improve font for conclusion and do more changes */

/* do hosting */