*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, html {
   height: 100%;
   width: 100%;

}

.box1 {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1768326943634-f15d407bda45?q=80&w=1506&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    text-align: center;
    padding-top: 200px;
 
}

h1 {   
    color: white;
    font-size: 50px;
}

button {
    margin-top: 30px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    /* border: 3px solid black;     */
}